<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="aboutus-page.css" />
    </head>
    <body>
        <div class="aboutus-page">
            <%- include('gnb_login_post.ejs') %>
            <div class="frame">
                <div class="logo-frame">
                    <div class="logo"><p class="logo-text">Vinscent</p></div>
                    <div class="logo-divier"></div>
                    <p class="slogan">Blending Scents, Sharing Stories: <br />The Art of Finding Your Fragrance</p>
                </div>
                    <p class="text-1">
                        어느 날 길을 걷다 문득 스쳐가는 한 줄기 향기에 당신은 멈춰 섭니다.<br /> 기억 저편에 묻혀 있던 오래된 순간들<br />어린
                        시절의 집, 소중한 사람과의 여행, 처음 사랑에 빠졌던 날의 떨림<br />그 모든 감정과 이야기가 향기로부터 되살아납니다.<br />
                        우리는 이처럼 향기가 단순히 코끝에서 스치는 경험이 아니라<br /> 마음 깊은 곳의 추억과 감정을 일깨우는 강력한
                        매개체라고 믿습니다.
                    </p>
                    <p class="text-2">
                        이 믿음에서 출발한 우리 회사는 향기를 통해 사람들이 자신만의 이야기를 발견하고, <br />이를 서로 나누며 공감할
                        수 있는 특별한 공간을 만들고자 했습니다. <br />우리의 커뮤니티는 단순히 향수를 고르고 사용하는 공간이
                        아닙니다. <br />이곳은 각자가 자신의 기억과 감정을 담은 향기를 조합하고, <br />이를 통해 자신의 스토리를
                        표현하는 예술을 발견하는 여정입니다.
                    </p>
                    <div class="text-3-frame">
                        <p class="text-subtitle">당신만의 향기, 당신만의 이야기</p>
                        <p class="text-1">
                        우리는 향수가 단순한 제품이 아니라 당신의 내면을 표현하는 도구라고 믿습니다.<br />특정한 향이 당신만의 분위기와
                        이야기를 전달할 수 있도록, <br />맞춤형 향기 조합을 탐구하고 공유할 수 있는 플랫폼을 제공합니다. <br />이 공간에서
                        사람들은 서로의 이야기에 영감을 받고, <br />자신만의 향기를 찾는 과정을 통해 새로운 기억을 만들어 갑니다.
                        </p>
                    </div>
                    <div class="text-3-frame">
                        <p class="text-subtitle-2">함께 향기를 나누고, 이야기를 공유하세요</p>
                        <p class="text-2">
                            당신의 향기를 만드는 과정은 단순히 개인적인 경험에 그치지 않습니다. <br />우리의 커뮤니티를 통해 당신의
                            향기가 다른 이들에게 영감이 되고, <br />또 다른 이야기의 씨앗이 됩니다. 우리와 함께 향기로 삶의 순간을 더
                            깊이 느끼고, <br />특별한 이야기를 함께 만들어 나가세요.
                        </p>
                    </div>
                <div class="epilogue-frame">
                    <p class="slogan-text">Blending Scents, Sharing Stories : The Art of Finding Your Fragrance.</p>
                    <p class="epilogue-text">지금 바로 당신의 향기 여정을 시작하세요.</p>
                </div>
            </div>
            <%- include('foot.ejs') %>
        </div>
    </body>
</html>
