<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheets/globals.css" />
    <link rel="stylesheet" href="/stylesheets/styleguide.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<body>
    <div class="content-container-frame">
        <div class="content-container">
            <div class="text-wrapper"><div class="content-title-black">RISING PRODUCT</div></div>
            <div class="rising-product-list">
                <div class="rising-product-wrapper">
                    <div class="rising-product">
                        <a href="/product/detail">
                            <span>
                                <img class="product-image" src="https://i.pinimg.com/736x/21/12/26/211226a1c1f2c92446250539aad35ffe.jpg" />
                            </span>
                            <span class="rising-product-info-container">
                                <p class="product-name">제품명</p>
                                <p class="product-brand">브랜드</p>
                                <p class="product-content">향수 설명</p>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>