<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="login-popup.css" />
    </head>
    <body>
        <div class="login-popup-frame">
            <%- include('gnb_login_post.ejs') %>

            <%- include('foot.ejs') %>
        </div>
    </body>
</html>
