<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/styleguide.css" />
        <link rel="stylesheet" href="/stylesheets/globals.css" />
        <link rel="stylesheet" href="/stylesheets/sign-page.css" />
    </head>
    <body>
        <%- include('../gnb/gnb.ejs') %>
        <div class="sign-page-frame">
            <form class="signup-agreement">
                <div class="logo-and-lenguage">
                    <div class="logo">
                        <p class="logo-text">Vinscent</p>
                        <p class="slogan">blending scents, sharing stories :<br />the art of finding your fragrance</p>
                    </div>
                    <div class="lenguage">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.125 9.25C3.84886 9.25 3.625 9.47386 3.625 9.75C3.625 10.0261 3.84886 10.25 4.125 10.25V9.25ZM19.875 10.25C20.1511 10.25 20.375 10.0261 20.375 9.75C20.375 9.47386 20.1511 9.25 19.875 9.25V10.25ZM4.21948 14.3124C3.94334 14.3124 3.71948 14.5363 3.71948 14.8124C3.71948 15.0886 3.94334 15.3124 4.21948 15.3124V14.3124ZM19.9695 15.3124C20.2456 15.3124 20.4695 15.0886 20.4695 14.8124C20.4695 14.5363 20.2456 14.3124 19.9695 14.3124V15.3124ZM20.5 12C20.5 16.6944 16.6944 20.5 12 20.5V21.5C17.2467 21.5 21.5 17.2467 21.5 12H20.5ZM12 20.5C7.30558 20.5 3.5 16.6944 3.5 12H2.5C2.5 17.2467 6.75329 21.5 12 21.5V20.5ZM3.5 12C3.5 7.30558 7.30558 3.5 12 3.5V2.5C6.75329 2.5 2.5 6.75329 2.5 12H3.5ZM12 3.5C16.6944 3.5 20.5 7.30558 20.5 12H21.5C21.5 6.75329 17.2467 2.5 12 2.5V3.5ZM12 20.5C11.6218 20.5 11.222 20.3269 10.8149 19.9333C10.4053 19.5373 10.0136 18.9402 9.67385 18.1636C8.99494 16.6118 8.5625 14.433 8.5625 12H7.5625C7.5625 14.5376 8.0115 16.8588 8.75769 18.5644C9.13046 19.4164 9.58723 20.1373 10.1198 20.6522C10.6548 21.1694 11.2909 21.5 12 21.5V20.5ZM8.5625 12C8.5625 9.567 8.99494 7.38824 9.67385 5.83645C10.0136 5.05981 10.4053 4.4627 10.8149 4.06674C11.222 3.6731 11.6218 3.5 12 3.5V2.5C11.2909 2.5 10.6548 2.83058 10.1198 3.34779C9.58723 3.86268 9.13046 4.58359 8.75769 5.43563C8.0115 7.14119 7.5625 9.46244 7.5625 12H8.5625ZM12 21.5C12.7091 21.5 13.3452 21.1694 13.8802 20.6522C14.4128 20.1373 14.8695 19.4164 15.2423 18.5644C15.9885 16.8588 16.4375 14.5376 16.4375 12H15.4375C15.4375 14.433 15.0051 16.6118 14.3262 18.1636C13.9864 18.9402 13.5947 19.5373 13.1851 19.9333C12.778 20.3269 12.3782 20.5 12 20.5V21.5ZM16.4375 12C16.4375 9.46244 15.9885 7.14119 15.2423 5.43563C14.8695 4.58359 14.4128 3.86268 13.8802 3.34779C13.3452 2.83058 12.7091 2.5 12 2.5V3.5C12.3782 3.5 12.778 3.6731 13.1851 4.06674C13.5947 4.4627 13.9864 5.05981 14.3262 5.83645C15.0051 7.38824 15.4375 9.567 15.4375 12H16.4375ZM4.125 10.25H19.875V9.25H4.125V10.25ZM4.21948 15.3124H19.9695V14.3124H4.21948V15.3124Z" fill="black"/>
                        </svg>
                        <select class="lenguage-select">
                            <option value="korea">한국어</option>
                            <option value="english" disabled>ENGLISH</option>
                            <option value="japan" disabled>日本語</option>
                            <option value="china" disabled>中国人</option>
                        </select>
                    </div>
                </div>

                <p class="sign-text">회원구분</p>

                <div>
                    <input class="user-type-radio" type="radio" id="normal" name="user_type" value="0" checked onclick="bussnissTypeOff(this, 'business-type')"/>
                    <label class="radio-text" for="normal">개인회원</label>
                    <input class="user-type-radio" type="radio" id="brand" name="user_type" value="1" onclick="bussnissTypeOn(this, 'business-type')" disabled/>
                    <label class="radio-text" for="brand">사업자회원</label>
                </div>
                
                <div class="business-type-frame" id="business-type">
                    <p class="sign-text">사업자구분</p>
                    <div>
                        <input class="user-type-radio" type="radio" id="personal" name="business_type" value="0" checked onclick="bussnissTypeOff(this, 'corporate-input')"/>
                        <label class="radio-txt" for="personal">개인사업자</label>
                        <input class="user-type-radio" type="radio" id="corporate" name="business_type" value="1" onclick="bussnissTypeOn(this, 'corporate-input')"/>
                        <label class="radio-text" for="corporate">법인사업자</label>
                    </div>
                </div>

                <div class="business-type-frame" id="corporate-input">
                    <p class="sign-text">사업자구분</p>
                    <div class="corporate-frame">
                        <p class="element-text">법인명</p>
                        <input class="enter-frame" name="corporate_name" type="text" placeholder="법인명">
                        <p class="element-text">법인번호</p>
                        <div class="corporate-num-frame">
                            <input class="enter-frame" name="corporate_id1" type="text" style="width: 45%">
                            -
                            <input class="enter-frame" name="corporate_id2" type="text" style="width: 45%">
                        </div>
                    </div>
                </div>

                <div class="divider"></div> 

                <div class="text-frame"><p class="sign-text">회원정보</p><div class="element-text-frame"><p class="essential-text">*</p><p class="element-text">필수입력항목</p></div></div>

                <div class="input-info-frame">
                    <div class="element-text-frame"><p class="element-text">아이디(이메일)<p class="essential-text">*</p></p></div>
                    <input class="enter-frame" name="inputId" type="text" placeholder="vinscent@email.com">
                    <p class="warning-text">이메일 형식에 맞지 않습니다.</p>
                </div>

                <div class="input-info-frame">
                    <div class="element-text-frame"><p class="element-text">사용자 태그</p><p class="essential-text">*</p></div>
                    <p class="element-text" style="color: #333333; font-size:12px">사용자 태그는 아이디 대신 사용하실 수 있습니다.</p>
                    <input class="enter-frame" name="inputTag" type="text" placeholder="영어, 숫자, 특수문자( ‘ . ‘, ‘ _ ‘ ) 4 ~ 20자">
                    <p class="warning-text">사용할 수 없는 태그입니다.</p>
                </div>

                <div class="input-info-frame">
                    <div class="element-text-frame"><p class="element-text">비밀번호</p><p class="essential-text">*</p></div>
                    <input class="enter-frame" name="inputPw" type="password" placeholder="문자, 숫자, 특수문자 포함 6 ~ 20자">
                    <p class="warning-text">사용할 수 없는 비밀번호입니다.</p>
                    <div class="input-info-frame">
                        <input class="enter-frame" name="inputRePw" type="password" placeholder="비밀번호 재입력">
                        <div class="warning-text" >비밀번호가 일치하지 않습니다.</div>
                    </div>
                </div>

                <div class="input-info-frame">
                    <div class="element-text-frame"><p class="element-text">이름<p class="essential-text">*</p></p></div>
                    <input class="enter-frame" name="inputName" type="text">
                </div>

                <div>
                    <input class="user-type-radio" type="radio" id="male" name="inputGender" value="0"/>
                    <label class="radio-text" for="male">남성</label>
                    <input class="user-type-radio" type="radio" id="female" name="inputGender" value="1"/>
                    <label class="radio-text" for="female">여성</label>
                </div>

                <div class="input-info-frame">
                    <div class="element-text-frame"><p class="element-text">전화<p class="essential-text">*</p></p></div>
                    <input class="enter-frame" name="inputPhone" type="text" placeholder="-없이 입력">
                </div>

                <div class="text-frame"><p class="sign-text">선택입력항목</p></div>

                <div class="input-info-frame">
                    <div class="element-text-frame"><p class="element-text">생년월일</p></div>
                    <input class="enter-frame" name="inputPhone" type="text" placeholder="-없이 입력">
                </div>

                <div class="divider"></div> 

                <div class="agreement-frame">
                    <div class="all-agree-frame">
                        <input class="agreement-checkbox" type="checkbox" id="all-agree" name="all_agreement" onclick="selectAll(this)"/>
                        <label class="agreement-text" for="all-agree">
                            약관 전체 동의하기(선택 동의 포함)<br />선택 사항에 대한 동의를 거부하는 경우에도 서비스 이용이
                            가능합니다.
                        </label>
                    </div>
                    <div class="agreement-list">
                        <div class="agreement">
                            <div class="agreement-element-frame">
                                <input class="agreement-checkbox-element" type="checkbox" id="adalt-agree" name="adalt_agree" onclick="checkedListen(this)"/>
                                <label class="agreement-text" for="adalt-agree">
                                    만 14세 이상입니다.(필수)
                                </label>
                                <button type="button" class="detail" style="visibility: hidden;"><div class="agreement_text">자세히</div></button>
                            </div>
                        </div>
                        <div class="agreement">
                            <div class="agreement-element-frame">
                                <input class="agreement-checkbox-element" type="checkbox" id="store-agree" name="store_agree" onclick="checkedListen(this)"/>
                                <label class="agreement-text" for="store-agree">
                                    빈센트, 빈센트 스토어 이용 약관 (필수)
                                </label>
                                <button type="button" class="detail" onclick="detailOn('store')"><div class="agreement-text">자세히</div></button>
                            </div>
                            <div class="agreement-detail" id="store">
                                <textarea class="agreement-detail-text" name="store-detail" readonly> 
                                    약관
                                </textarea>
                            </div>
                        </div>
                        <div class="agreement">
                            <div class="agreement-element-frame">
                                <input class="agreement-checkbox-element" type="checkbox" id="marketing-agree" name="marketing_agree" onclick="checkedListen(this)"/>
                                <label class="agreement-text" for="marketing-agree">
                                    마케팅 목적의 개인정보 수집 및 이용 동의 (선택)
                                </label>
                                <button type="button" class="detail"><div class="agreement-text" onclick="detailOn('marketing')">자세히</div></button>
                            </div>
                            <div class="agreement-detail" id="marketing">
                                <textarea class="agreement-detail-text" name="marketing-detail" readonly> 
                                    약관
                                </textarea>
                            </div>
                        </div>
                        <div class="agreement">
                            <div class="agreement-element-frame">
                                <input class="agreement-checkbox-element" type="checkbox" id="ap-agree" name="ap_agree" onclick="checkedListen(this)"/>
                                <label class="agreement-text" for="store-agree">
                                    광고성 정보 수신 동의 (선택)
                                </label>
                                <button type="button" class="detail"><div class="agreement-text" onclick="detailOn('ap')">자세히</div></button>
                            </div>
                            <div class="agreement-detail" id="ap">
                                <textarea class="agreement-detail-text" name="ad-detail" readonly> 
                                    약관
                                </textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="next-button-frame">
                    <button type="submit" class="next-button">
                        <div class="next-text">다음</div>
                        <svg class="next-icon" width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 9C10 9.26522 9.89464 9.51957 9.70711 9.70711L1.70711 17.7071C1.31658 18.0976 0.683417 18.0976 0.292894 17.7071C-0.0976312 17.3166 -0.0976312 16.6834 0.292894 16.2929L7.58579 9L0.292894 1.70711C-0.0976305 1.31658 -0.0976305 0.683418 0.292894 0.292893C0.683418 -0.0976311 1.31658 -0.0976311 1.70711 0.292893L9.70711 8.29289C9.89464 8.48043 10 8.73478 10 9Z" fill="#333333"/>
                        </svg>
                    </button>
                </div>

                <script type="text/javascript" src="sign.js"></script>
            </form>
        </div>
        <%- include('../home/foot.ejs') %>
    </body>
</html>
