<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="home.css" />
</head>
<body>
    <div class="home-header">
        <div class="logoandhomemenu">
            <div class="logo"><div class="home-logo"><a href="/home">Vinscent</a></div></div>
            <div class="menu">
                <div class="text-wrapper"><div class="text-gnb-menu"><a href="/post-page">Post</a></div></div>
                <div class="text-wrapper"><div class="text-gnb-menu"><a href="/product-page">Product</a></div></div>
                <div class="text-wrapper"><div class="text-gnb-menu"><a href="/magazine-page">Magazine</a></div></div>
                <!-- <div class="text-wrapper"><div class="text-gnb-menu"><a href="">Followes</a></div></div> -->
            </div>
        </div>


    </div>
</body>
</html>