<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="home.css" />
</head>
<body>
    <div class="home-header">
        <div class="logoandhomemenu">
            <div class="logo"><div class="home-logo"><a href="">Vinscent</a></div></div>
            <div class="menu">
                <div class="text-wrapper"><div class="text-gnb-menu"><a href="">Post</a></div></div>
                <div class="text-wrapper"><div class="text-gnb-menu"><a href="">Product</a></div></div>
                <div class="text-wrapper"><div class="text-gnb-menu"><a href="">Magazine</a></div></div>
                <div class="text-wrapper"><div class="text-gnb-menu"><a href="">Followes</a></div></div>
            </div>
        </div>
        <div class="gnb-user-menu">
            <button class="button-gnb-create">
                <svg class="button-icon-gnb-create" width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="createbutton_icon">
                        <path d="M0 6C0 5.63181 0.298477 5.33333 0.666667 5.33333H11.3333C11.7015 5.33333 12 5.63181 12 6C12 6.36819 11.7015 6.66667 11.3333 6.66667H0.666667C0.298477 6.66667 0 6.36819 0 6Z" fill="black"/>
                        <path d="M6 0C6.36819 0 6.66667 0.298477 6.66667 0.666667V11.3333C6.66667 11.7015 6.36819 12 6 12C5.63181 12 5.33333 11.7015 5.33333 11.3333V0.666667C5.33333 0.298477 5.63181 0 6 0Z" fill="black"/>
                    </g>
                </svg>
                <div class="text-gnb-create">글쓰기</div>
            </button>
            <button class="button-gnb">
                <svg class="icon-button-gnb" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="noticebutton">
                        <path id="notice_icon" d="M16.1173 25.0694L15.2873 24.5116L15.2873 24.5116L16.1173 25.0694ZM17.4095 20.9278L16.4095 20.917V20.9278H17.4095ZM17.4366 18.4238L18.4366 18.4346V18.4238H17.4366ZM33.6674 25.0895L34.508 24.5478L34.5079 24.5478L33.6674 25.0895ZM32.4238 20.9278L31.4238 20.9164V20.9278H32.4238ZM32.4509 18.5479L33.4509 18.5593V18.5479H32.4509ZM21.9259 29C21.3736 29 20.9259 29.4477 20.9259 30C20.9259 30.5523 21.3736 31 21.9259 31V29ZM27.8519 31C28.4041 31 28.8519 30.5523 28.8519 30C28.8519 29.4477 28.4041 29 27.8519 29V31ZM16.9473 25.6272C17.6853 24.529 18.4095 22.9028 18.4095 20.9278H16.4095C16.4095 22.409 15.8644 23.6529 15.2873 24.5116L16.9473 25.6272ZM18.4094 20.9386L18.4366 18.4346L16.4367 18.4129L16.4096 20.917L18.4094 20.9386ZM34.5079 24.5478C33.9545 23.6889 33.4238 22.4316 33.4238 20.9278H31.4238C31.4238 22.904 32.1187 24.5323 32.8268 25.6312L34.5079 24.5478ZM33.4237 20.9392L33.4509 18.5593L31.451 18.5365L31.4239 20.9164L33.4237 20.9392ZM33.4509 18.5479C33.4509 13.3934 29.7292 9 24.8889 9V11C28.4013 11 31.4509 14.2606 31.4509 18.5479H33.4509ZM33.2148 27.25C34.0403 27.25 34.4911 26.6094 34.6526 26.1807C34.8226 25.7292 34.8582 25.0913 34.508 24.5478L32.8268 25.6312C32.7837 25.5643 32.7786 25.5128 32.7779 25.4995C32.7773 25.4862 32.7789 25.4812 32.7809 25.4758C32.7819 25.4732 32.7968 25.432 32.8553 25.3801C32.9216 25.3213 33.047 25.25 33.2148 25.25V27.25ZM18.4366 18.4238C18.4366 14.205 21.4371 11 24.8889 11V9C20.1092 9 16.4366 13.3379 16.4366 18.4238H18.4366ZM16.564 25.25C16.7355 25.25 16.8622 25.324 16.9274 25.383C16.9847 25.4349 16.998 25.4747 16.998 25.4747C16.9991 25.4776 17.0006 25.4807 16.9998 25.4929C16.9991 25.5051 16.9935 25.5584 16.9473 25.6271L15.2873 24.5116C14.9205 25.0575 14.9534 25.7064 15.1194 26.1609C15.2764 26.5906 15.7254 27.25 16.564 27.25V25.25ZM33.2148 25.25H16.564V27.25H33.2148V25.25ZM21.9259 31H27.8519V29H21.9259V31Z" fill="black"/>
                    </g>
                </svg>
            </button>
            <button class="button-gnb">
                <svg class="icon-button-gnb" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="chatbutton">
                        <path id="chatbutton_icon" d="M20 15H28.75M20 20H25M24.6739 24.7826L19.4565 30V24.7826H17.5C16.1193 24.7826 15 23.6633 15 22.2826V12.5C15 11.1193 16.1193 10 17.5 10H32.5C33.8807 10 35 11.1193 35 12.5V22.2826C35 23.6633 33.8807 24.7826 32.5 24.7826H24.6739Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                </svg>
            </button>
            <button class="button-gnb-user-profile">
                <div class="user-profile-button-gnb">
                    <img class="user-profile" src="https://i.pinimg.com/736x/58/38/2b/58382b0320093fb62bf4d975df113489.jpg">
                </div>
            </button>
        </div>
    </div>
</body>
</html>
