<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="post_magazine.css" />
    </head>
    <body>
        <div class="type-magazine-page">
            <div class="image"></div>
            <div class="brand-news-text">
                <div class="frame">
                    <div class="text-wrapper">title</div>
                    <div class="date">
                        <div class="post-popup-iconex">
                            <div class="time-circle">
                                <div class="overlap-group"><img class="vector" src="img/vector-132.svg" /></div>
                            </div>
                        </div>
                        <div class="div">2주 전</div>
                    </div>
                </div>
                <div class="text-wrapper-2">brand name</div>
                <div class="text-wrapper-3">news</div>
            </div>
        </div>
    </body>
</html>
