<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="post_popup_comment.css" />
    </head>
    <body>
        <div class="comment-yes-type">
            <div class="frame-user">
                <div class="div">
                    <div class="userprofile-image"></div>
                    <div class="div-wrapper"><div class="text-wrapper">분좋동환</div></div>
                    <div class="div-2">
                        <div class="post-popup-iconex">
                            <div class="time-circle">
                                <div class="overlap-group"><img class="vector" src="img/image.svg" /></div>
                            </div>
                        </div>
                        <div class="text-wrapper-2">2주 전</div>
                    </div>
                    <img class="more-icon" src="img/more-icon.svg" />
                </div>
                <div class="div-wrapper-2">
                    <div class="div-wrapper-2">
                        <p class="p">
                            따뜻한 무드의 제 방의 진짜 따뜻한 저 난로 위엔 구수한 누룽지가 팔팔 끓는 중이라 그 고소한 향과 책에서 나는
                            교보문고의 향수 냄새가 섞여 고소하면서 진지한 향이 매치가 잘됩니다.
                        </p>
                    </div>
                </div>
                <div class="post-image"></div>
                <div class="frame">
                    <div class="likeandcomment">
                        <div class="div-2">
                            <img class="img" src="img/heart-icon-2.svg" />
                            <div class="text-wrapper-3">0</div>
                        </div>
                        <div class="div-2">
                            <img class="img" src="img/comment-icon.svg" />
                            <div class="text-wrapper-3">0</div>
                        </div>
                        <div class="div-2">
                            <img class="img" src="img/tag.svg" />
                            <div class="text-wrapper-3">0</div>
                        </div>
                        <div class="div-2">
                            <img class="img" src="img/share-icon.svg" />
                            <div class="text-wrapper-3">0</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-frame">
                <div class="comment">
                    <div class="comment-frame-2">
                        <div class="commend-profile"><div class="comment-profile"></div></div>
                        <div class="comment-2">
                            <div class="div">
                                <div class="div-wrapper"><div class="text-wrapper">향에 민감한 민수</div></div>
                                <div class="div-2">
                                    <div class="post-popup-iconex">
                                        <div class="time-circle">
                                            <div class="overlap-group"><img class="vector" src="img/vector-132.svg" /></div>
                                        </div>
                                    </div>
                                    <div class="text-wrapper-2">2주 전</div>
                                </div>
                            </div>
                            <div class="comment-text">
                                <p class="text-wrapper-4">오늘 할 일 : 인감증명서 발급, 숨쉬기, 햇볕 쬐기</p>
                            </div>
                            <div class="likeandcomment-2">
                                <div class="heart">
                                    <img class="heart-icon" src="img/heart-icon.svg" />
                                    <div class="text-wrapper-5">0</div>
                                </div>
                                <div class="comment-3">
                                    <img class="comment-icon" src="img/comment-icon-2.svg" />
                                    <div class="text-wrapper-5">0</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="comment-entry">
                    <div class="frame-2"><div class="text-wrapper-6">댓글 쓰기</div></div>
                    <div class="rectangle"></div>
                </div>
            </div>
        </div>
    </body>
</html>
