<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="register.css" />
    </head>
    <body>
        <div class="property">
            <div class="frame">
                <p class="text-wrapper">소비자의 향수에 대한 관심은 점점 더 커지고 있다</p>
                <div class="div">
                    <div class="text-wrapper-2">BRAND</div>
                    <div class="rectangle"></div>
                    <div class="date"><div class="element">2025.01.11.</div></div>
                </div>
                <img class="image" src="https://i.pinimg.com/736x/ab/ba/71/abba719afbf182dfaf937cce020e304b.jpg">
            </div>
            <div class="frame-2">
                <div class="frame-3">
                    <div class="frame-4">
                        <div class="rectangle-2"></div>
                        <p class="SPATE">스페이트(SPATE) × 더케이뷰티사이언스<br />2024 향수 트렌드</p>
                    </div>
                    <p class="SNS-google-DISCOVERY">
                        오늘날 향수시장은 SNS나 구글(Google) 검색을 통해 어떤 향수들이 사랑을 받는지 쉽게 알 수 있다. 향수에 대한
                        관심이 높아지면서 혁신적인 형태와 독특한 향에 대한 욕구도 더욱 커지고 있다. 특히 다양한 향수를 체험할 수
                        있는 구독 서비스와 디스커버리 세트(DISCOVERY SET) 시장이 지속적으로 성장하면서 소비자들은 한가지
                        ‘시그니처향’에 대한 고집 보다는 다양한 향에 대해 꾸준하게 탐색적인 방식으로 접근하고 있다.<br /><br />또한,
                        소비자 선호도에 이분법적 공식이 등장했다. 바디 스프레이와 같이 일상적으로 사용하는 제품에 대한 수요가
                        분명하게 나타나고 있으면서 동시에 독특한 브랜드 차별화를 제공하는 고급 니치 향수에 대한 관심이 증가하고
                        있다. 이러한 이중적 수요는 진화하는 시장의 요구를 충족하기 위해 다양한 접근 방법과 프리미엄화 사이의 균형을
                        유지해야 하는 브랜드의 과제이자 기회다.﻿스페이트(SPATE)의 최신 연례 향수 트렌드 보고서에서는 소비자의 관심을
                        끄는 향, 향수 형태 및 브랜드를 살펴본다. 업계 전문가인 뷰티 에디터 알렉산드라 폴리(Alexandra Pauly)와
                        퍼퓸룸(Perfume Room) 팟캐스트의 진행자인 엠마 버논(Emma Vernon)의 인사이트를 담은 이 보고서는 퍼스널
                        프래그런스 환경을 이해하는 데 필수적인 리소스이다. _ 스페이트(SPATE)<br /><br />출처 : THE K BEAUTY
                        SCIENCE(https://www.thekbs.co.kr)
                    </p>
                </div>
                <img class="img" src="img/image-1.png" />
            </div>
        </div>
    </body>
</html>
