<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="signup_enterusertag_page.css" />
    </head>
    <body>
        <div class="signup-enterusertag">
            <div class="div">
                <div class="div-2">
                    <div class="logo">
                        <div class="text-wrapper">Vinscent</div>
                        <p class="blending-scents">blending scents, sharing stories<br />the art of finding your fragrance</p>
                    </div>
                    <div class="lenguage">
                        <img class="img" src="img/lenguage-icon-frame.svg" />
                        <div class="lenguage-select"><div class="text-wrapper-2">한국어</div></div>
                        <img class="img" src="img/lenguage-list-button-frame.svg" />
                    </div>
                </div>
                <div class="content">
                    <div class="text-wrapper-3">사용하실 사용자 태그을 입력해주세요.</div>
                    <p class="p">사용자 태그는 아이디 대신 사용하실 수 있습니다.</p>
                </div>
                <div class="div-3">
                    <div class="div-wrapper"><div class="text-wrapper-4">사용자 태그</div></div>
                    <div class="signup-enterusertag-wrapper">
                        <div class="div-wrapper-2"><p class="text-wrapper-5">영어, 숫자, 특수문자( ‘ . ‘, ‘ _ ‘ ) 4 ~ 20자</p></div>
                    </div>
                    <div class="dup-tag-err-frame">사용할 수 없는 태그입니다.</div>
                </div>
                <div class="next-button-frame">
                    <div class="next-button">
                        <div class="next-text"><div class="text-wrapper-6">다음</div></div>
                        <img class="next-icon" src="img/next-icon.svg" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
