<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="signup_agreement_detail_on_page.css" />
    </head>
    <body>
        <div class="signup-agreement">
            <div class="div">
                <div class="div-2">
                    <div class="logo">
                        <div class="text-wrapper">Vinscent</div>
                        <p class="blending-scents">blending scents, sharing stories<br />the art of finding your fragrance</p>
                    </div>
                    <div class="lenguage">
                        <img class="img" src="img/lenguage-icon-frame.svg" />
                        <div class="lenguage-select"><div class="text-wrapper-2">한국어</div></div>
                        <img class="img" src="img/lenguage-list-button-frame.svg" />
                    </div>
                </div>
                <div class="agreement-frame">
                    <div class="all-agree-frame">
                        <div class="checkbox-frame"><div class="checkbox"></div></div>
                        <div class="all-agree-text">
                            <p class="p">
                                약관 전체 동의하기(선택 동의 포함)<br />선택 사항에 대한 동의를 거부하는 경우에도 서비스 이용이
                                가능합니다.
                            </p>
                        </div>
                    </div>
                    <div class="agreement-list">
                        <div class="div-3">
                            <div class="checkbox-frame"><div class="checkbox"></div></div>
                            <div class="adult-agreement-text"><div class="text-wrapper-3">만 14세 이상입니다.(필수)</div></div>
                        </div>
                        <div class="div-3">
                            <div class="checkbox-frame"><div class="checkbox"></div></div>
                            <div class="div-wrapper"><p class="text-wrapper-3">빈센트, 빈센트 스토어 이용 약관 (필수)</p></div>
                            <div class="detail"><div class="text-wrapper-3">자세히</div></div>
                        </div>
                        <div class="div-3">
                            <div class="checkbox-frame"><div class="checkbox"></div></div>
                            <div class="div-wrapper">
                                <p class="text-wrapper-3">마케팅 목적의 개인정보 수집 및 이용 동의 (선택)</p>
                            </div>
                            <div class="detail"><div class="text-wrapper-3">자세히</div></div>
                        </div>
                        <div class="div-3">
                            <div class="checkbox-frame"><div class="checkbox"></div></div>
                            <div class="div-wrapper"><p class="text-wrapper-3">광고성 정보 수신 동의 (선택)</p></div>
                            <div class="detail"><div class="text-wrapper-3">자세히</div></div>
                        </div>
                    </div>
                </div>
                <div class="next-button-frame">
                    <div class="next-button">
                        <div class="next-text"><div class="text-wrapper-4">다음</div></div>
                        <img class="next-icon" src="img/next-icon.svg" />
                    </div>
                </div>
            </div>
            <div class="detail-frame">
                <div class="text-wrapper-4">이용약관 동의 자세히 제목</div>
                <div class="agreement-content">이용약관 동의 자세히 내용</div>
            </div>
            <img class="close-icon-frame" src="img/close-icon-frame.svg" />
        </div>
    </body>
</html>
