<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="signup_dupaccount_check_page.css" />
    </head>
    <body>
        <div class="signup-dupaccount">
            <div class="div">
                <div class="div-2">
                    <div class="logo">
                        <div class="text-wrapper">Vinscent</div>
                        <p class="blending-scents">blending scents, sharing stories<br />the art of finding your fragrance</p>
                    </div>
                    <div class="lenguage">
                        <img class="img" src="img/lenguage-icon-frame.svg" />
                        <div class="lenguage-select"><div class="text-wrapper-2">한국어</div></div>
                        <img class="img" src="img/lenguage-list-button-frame.svg" />
                    </div>
                </div>
                <div class="div-3">
                    <div class="text-wrapper-3">이미 가입된 계정이 있습니다.</div>
                    <p class="p">가입하신 계정을 찾았습니다.<br />아래 계정으로 로그인하세요.</p>
                </div>
                <div class="emil-frame-wrapper">
                    <div class="emil-frame">
                        <img class="img" src="img/at-sign.svg" />
                        <div class="email-nicnameandtext">
                            <div class="nicanddate">
                                <div class="nicname"><div class="text-wrapper-4">닉네임</div></div>
                                <div class="date"><div class="element">2025.01.08</div></div>
                            </div>
                            <div class="emiil">
                                <div class="text-wrapper-5">이메일</div>
                                <div class="line"></div>
                                <div class="text-wrapper-6">vincent@email.com</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="login-button"><div class="text-wrapper-7">로그인</div></div>
            </div>
        </div>
    </body>
</html>
