<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="signup_enter_information_page.css" />
    </head>
    <body>
        <div class="signup-enter">
            <div class="div">

                <div class="input-info-frame">
                    <p class="element-text">아이디(이메일)</p>
                    <input class="enter-frame" name="inputid" type="text" placeholder="vinscent@email.com">
                    <p class="id-err-frame">이메일 형식에 맞지 않습니다.</p>
                </div>
                <div class="input-info-frame">
                    <p class="element-text">비밀번호</p>
                    <input class="enter-frame" name="inputpw" type="password" placeholder="문자, 숫자, 특수문자 포함 6 ~ 20자">
                    <p class="id-err-frame">사용할 수 없는 비밀번호입니다.</p>
                    <div class="input-info-frame">
                        <input class="enter-frame" name="inputpw" type="password" placeholder="비밀번호 재입력">
                        <div class="id-err-frame"><div class="text-wrapper-5">비밀번호가 일치하지 않습니다.</div></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
