<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="user_menu_white.css" />
    </head>
    <body>
        <div class="type-white">
            <div class="mypage-element">
                <img class="img" src="img/mypage-icon-frame.svg" />
                <div class="mypage">
                    <div class="mypage-title"><div class="text-wrapper">마이페이지</div></div>
                    <div class="mypage-nicname"><div class="div">향에 민감한 민수</div></div>
                </div>
            </div>
            <div class="darkmode-element">
                <img class="img-2" src="img/darkmode-icon-frame.svg" />
                <div class="div-wrapper"><div class="text-wrapper-2">다크 모드</div></div>
                <img class="img-2" src="img/type-off.svg" />
            </div>
            <div class="setting-element">
                <img class="img" src="img/setting-icon-frame.svg" />
                <div class="div-wrapper"><div class="text-wrapper">설정</div></div>
            </div>
        </div>
    </body>
</html>
