<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="home.css" />
</head>
<body>
    <div class="content-container-frame">
        <div class="content-container">
            <div class="text-wrapper"><div class="content-title-black">BRAND NEWS</div></div>
            <div class="brand-news-list">
                <div class="brand-news-frame-wrapper">
                    <a class="brand-news-frame" href="/magazine/detail">
                        <div class="brand-news-image" style="background-color: white;"></div>
                        <div class="brand-news-contents">
                            <div class="brandnews-titleanddate">
                                <p class="brandnews-title">title</p>
                                <div class="createdate-frame"><p class="createdate">2주 전</p></div>
                            </div>
                            <p class="brand-name">brand name</p>
                            <p class="content">news</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>