.signup-complet-page {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 40px;
    position: relative;
    background-color: #ffffff;
}

.signup-complet-page .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.signup-complet-page .div-2 {
    display: flex;
    height: 74px;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
}

.signup-complet-page .logo {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.signup-complet-page .text-wrapper {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Pretendard Variable-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
}

.signup-complet-page .blending-scents {
    position: relative;
    width: fit-content;
    font-family: "Pretendard Variable-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 16.8px;
}

.signup-complet-page .lenguage {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
}

.signup-complet-page .img {
    position: relative;
    width: 24px;
    height: 24px;
}

.signup-complet-page .lenguage-select {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
}

.signup-complet-page .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: "Pretendard Variable-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19.6px;
    white-space: nowrap;
}

.signup-complet-page .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.signup-complet-page .text-wrapper-3 {
    margin-top: -1.00px;
    font-family: "Pretendard Variable-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    line-height: 22.4px;
    position: relative;
    width: fit-content;
    letter-spacing: 0;
    white-space: nowrap;
}

.signup-complet-page .p {
    font-family: "Pretendard Variable-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    line-height: 19.6px;
    position: relative;
    width: fit-content;
    letter-spacing: 0;
    white-space: nowrap;
}

.signup-complet-page .login-button {
    display: flex;
    width: 455px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: #000000;
    border: 1px solid;
    border-color: #777777;
}

.signup-complet-page .text-wrapper-4 {
    margin-top: -1.00px;
    font-family: "Pretendard Variable-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    line-height: 19.6px;
    position: relative;
    width: fit-content;
    letter-spacing: 0;
    white-space: nowrap;
}
