<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/globals.css" />
    <link rel="stylesheet" href="/stylesheets/styleguide.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
</head>
<body>
    <div class="footer">
        <div class="divider"></div>
        <div class="footer-content">
            <div class="foot-logoandmenu">
                <div class="footer-logo">
                    <a class="footer-logo-text" href="/">Vinscent</a>
                    <div class="footer-logo-divier"></div>
                    <p class="footer-logo-slogan">blending scents, sharing stories :<br />the art of finding your fragrance</p>
                </div>
                <div class="footer-menu">
                    <div class="text-wrapper"><div class="footer-menu-element"><a href="/aboutus">About us</a></div></div>
                    <div class="text-wrapper"><div class="footer-menu-element"><a href="">Service</a></div></div>
                    <div class="text-wrapper"><div class="footer-menu-element"><a href="">Portfolio</a></div></div>
                    <div class="text-wrapper"><div class="footer-menu-element"><a href="">Contect</a></div></div>
                </div>
            </div>
            <div class="company-oneliner-frame">
                <p class="company-oneliner">
                    본래의 향에서 새로움을 찾다.<br />vinscent는 자신만의 향수 조합을 이야기하는 브랜드입니다.<br />여러분들만의 향수나 향수 조합에 대해 여러분의 언어로 향을 말하고 공유해주세요.<br />본인만의 조향실이 되어 자신만의 향수를 만들어가는 곳이 되었으면 좋겠습니다.
                </p>
            </div>
            <div class="ceo-info-frame">
                <div class="ceo-oneliner-frame">
                    <p class="ceo-oneliner">
                        대표    | 조준희 김동현<br />한 줄 소개 |<br />조준희 : 포기는 없다.<br />김동현 : 나는
                        크리스마스가 싫습니다.
                    </p>
                </div>
                <div class="ceo-info-sns">
                    <a class="ceo-info-sns-element" href="">
                        <div class="sns-icon">
                            <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="Group 3">
                                    <g id="Group">
                                    <path id="Vector" d="M10 0.551758C7.28417 0.551758 6.94362 0.563279 5.877 0.611926C4.81262 0.660483 4.08569 0.829554 3.4496 1.07672C2.79201 1.33227 2.23434 1.67422 1.67842 2.23014C1.12247 2.78606 0.780514 3.3438 0.524987 4.00139C0.277766 4.63745 0.108755 5.36438 0.060138 6.42876C0.0114917 7.49538 0 7.83593 0 10.5518C0 13.2676 0.0114917 13.6081 0.060138 14.6748C0.108755 15.7391 0.277766 16.4661 0.524987 17.1021C0.780544 17.7597 1.1225 18.3174 1.67842 18.8734C2.23437 19.4293 2.79201 19.7712 3.4496 20.0268C4.08569 20.274 4.81262 20.443 5.877 20.4916C6.94362 20.5402 7.28417 20.5518 10 20.5518C12.7158 20.5518 13.0564 20.5402 14.123 20.4916C15.1874 20.443 15.9143 20.274 16.5504 20.0268C17.208 19.7712 17.7656 19.4293 18.3216 18.8734C18.8775 18.3174 19.2195 17.7597 19.475 17.1021C19.7222 16.4661 19.8913 15.7391 19.9398 14.6748C19.9885 13.6081 20 13.2676 20 10.5518C20 7.83593 19.9885 7.49538 19.9398 6.42876C19.8913 5.36438 19.7222 4.63745 19.475 4.00139C19.2195 3.3438 18.8775 2.78606 18.3216 2.23014C17.7656 1.67422 17.208 1.33227 16.5504 1.07672C15.9143 0.829554 15.1874 0.660483 14.123 0.611926C13.0564 0.563279 12.7158 0.551758 10 0.551758ZM10 2.35355C12.6701 2.35355 12.9864 2.36376 14.0409 2.41187C15.0159 2.45632 15.5454 2.61923 15.8977 2.75617C16.3645 2.9376 16.6976 3.15428 17.0475 3.50421C17.3975 3.85414 17.6142 4.18728 17.7956 4.65403C17.9325 5.00641 18.0954 5.53592 18.1399 6.5109C18.188 7.56537 18.1982 7.88166 18.1982 10.5518C18.1982 13.2219 18.188 13.5381 18.1399 14.5926C18.0954 15.5676 17.9325 16.0971 17.7956 16.4495C17.6142 16.9163 17.3975 17.2494 17.0475 17.5993C16.6976 17.9492 16.3645 18.1659 15.8977 18.3473C15.5453 18.4843 15.0158 18.6472 14.0409 18.6916C12.9866 18.7398 12.6703 18.75 10 18.75C7.32969 18.75 7.01349 18.7398 5.95914 18.6916C4.98413 18.6472 4.45465 18.4843 4.10231 18.3473C3.63549 18.1659 3.30238 17.9492 2.95248 17.5993C2.60255 17.2494 2.38584 16.9162 2.20442 16.4495C2.06747 16.0971 1.90459 15.5676 1.86011 14.5926C1.812 13.5381 1.80179 13.2219 1.80179 10.5518C1.80179 7.88166 1.812 7.56537 1.86011 6.5109C1.90459 5.53589 2.06747 5.00641 2.20442 4.65406C2.38584 4.18725 2.60255 3.85414 2.95245 3.50424C3.30238 3.15428 3.63552 2.9376 4.10228 2.75617C4.45465 2.61923 4.98416 2.45632 5.95914 2.41187C7.01361 2.36376 7.3299 2.35355 10 2.35355" fill="#7A7A7A"/>
                                    <path id="Vector_2" d="M10.0004 13.8851C8.1594 13.8851 6.66702 12.3927 6.66702 10.5517C6.66702 8.71075 8.1594 7.21837 10.0004 7.21837C11.8413 7.21837 13.3337 8.71075 13.3337 10.5517C13.3337 12.3927 11.8413 13.8851 10.0004 13.8851ZM10.0004 5.41658C7.16429 5.41658 4.86523 7.71564 4.86523 10.5517C4.86523 13.3878 7.16429 15.6868 10.0004 15.6868C12.8364 15.6868 15.1355 13.3878 15.1355 10.5517C15.1355 7.71564 12.8364 5.41658 10.0004 5.41658V5.41658ZM16.5384 5.21369C16.5384 5.87646 16.0011 6.41368 15.3384 6.41368C14.6757 6.41368 14.1384 5.87646 14.1384 5.21369C14.1384 4.55095 14.6757 4.01367 15.3384 4.01367C16.0011 4.01367 16.5384 4.55095 16.5384 5.21369" fill="#7A7A7A"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                        <div class="ceo-info-sns-id">@never_giveup</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

