p{
    margin:0;
}
a{
    text-decoration-line: none;
    color: black;
}

body{
    margin:0;
    padding: 10px 70px 80px;
    box-sizing: border-box;
}

.magazine-board-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 100%;
    gap: 45px;
    position: relative;
    background-color: #ffffff;
}

.magazine-board-page-frame {
    display: flex;
    width: 996px;
    gap:10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 80px 0px 100px;
    margin: 0 auto;
}

.magazine-board-page-frame .magazine-title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
}

.magazine-board-page-frame .magazine-board-page-title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Pretendard Variable-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 50.4px;
    white-space: nowrap;
}

.magazine-board-page-frame .magazine-list {
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    align-items: flex-start;
    gap: 30px 20px;
    position: relative;
    flex: 0 0 auto;
}

.magazine-board-page-frame .magazine-wrapper{
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.magazine-board-page-frame .magazine{
    display: flex;
    flex-direction: column;
    width: 318px;
    height: 318px;
    align-items: flex-start;
    gap: 2px;
    position: relative;
    
}

.magazine-board-page-frame .magazine-image-container {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 197px;
    background-size: cover;
    background-position: 50% 50%;
}

.magazine-board-page-frame .magazine-image {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    object-fit: cover;
}

.magazine-board-page-frame .magazine-contents {
    display: flex;
    flex-direction: column;
    max-height: 144px;
    align-items: flex-start;
    gap: 1px;
    padding: 4px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.magazine-board-page-frame .magazine-brand-and-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
}

.magazine-board-page-frame .magazine-title {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Pretendard Variable-Bold", Helvetica;
    font-weight: 700;
    color: #454545;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 22.4px;
    white-space: nowrap;
}

.magazine-board-page-frame .magazine-date {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;

    width: fit-content;
    margin-top: -0.50px;
    font-family: "Pretendard Variable-Medium", Helvetica;
    font-weight: 500;
    color: #d2d2d2;
    font-size: 12px;
    line-height: 16.8px;
    white-space: nowrap;
    letter-spacing: 0;
}
.magazine-frame .magazine-brand-text {
    font-family: "Pretendard Variable-Bold", Helvetica;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    position: relative;
    align-self: stretch;
    color: #000000;
    letter-spacing: 0;
}
.magazine-frame .magazine-content-text {
    position: relative;
    align-self: stretch;
    font-family: "Pretendard Variable-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 19.6px;
}


.magazine-board-page-frame .magazine-paging{
    display: flex;
    flex-direction: vertical;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 80px 0 0;
    gap: 20px;
    position: relative;
    flex: 0 0 auto;
}

.magazine-board-page-frame .frame-5 {
    display: flex;
    align-items: center;
    gap: 14px;
    position: relative;
    background-color: #ffffff;
    overflow: auto;
}

.magazine-board-page-frame .magazine-paging-pages {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ffffff;
}

