<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="styleguide.css" />
        <link rel="stylesheet" href="post_popup.css" />
    </head>
    <body>
        <div class="post-poup-page-frame">
            <div class="post-popup-page">
                <div class="userprofileanddate">
                    <div class="userprofile-image"></div>
                    <div class="userprofile-nicname"><div class="nicname">분좋동환</div></div>
                    <div class="div">
                        <div class="post-popup-iconex">
                            <div class="time-circle">
                                <div class="overlap-group"><img class="vector" src="img/vector-132.svg" /></div>
                            </div>
                        </div>
                        <div class="text-wrapper">2주 전</div>
                    </div>
                    <img class="more-button" src="img/size-default-color-black.svg" />
                </div>
                <div class="div-wrapper">
                    <div class="div-wrapper">
                        <p class="p">
                            따뜻한 무드의 제 방의 진짜 따뜻한 저 난로 위엔 구수한 누룽지가 팔팔 끓는 중이라 그 고소한 향과 책에서 나는
                            교보문고의 향수 냄새가 섞여 고소하면서 진지한 향이 매치가 잘됩니다.
                        </p>
                    </div>
                </div>
                <div class="post-image"></div>
                <div class="likeandcomment-frame">
                    <div class="likeandcomment">
                        <div class="div">
                            <img class="img" src="img/type-default-check-default-color-black.svg" />
                            <div class="text-wrapper-2">0</div>
                        </div>
                        <div class="div">
                            <img class="img" src="img/type-default-color-black-check-default.svg" />
                            <div class="text-wrapper-2">0</div>
                        </div>
                        <div class="div">
                            <img class="img" src="img/tag.svg" />
                            <div class="text-wrapper-2">0</div>
                        </div>
                        <div class="div">
                            <img class="img" src="img/size-default-type-black.svg" />
                            <div class="text-wrapper-2">0</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
